@media (max-width: 900px) {
    main {
        padding-right: 15px;
    }

    h2 {
        font-size: 20px !important; /* Sobreescribe Tailwind */
    }

    h3 {
        font-size: 20px !important;
    }

    nav {
        font-size: 20px;
    }

    nav a {
        font-size: 20px;
    }
}

